@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "PingFang SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  opacity: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.slick-dots li button {
  background: "transparent" !important;
}

.slick-dots li.slick-active {
  opacity: 100% !important;
  width: 10px !important;
  height: 10px !important;
  background: #ffffff !important;
}

.slick-dots li.slick-active button {
  top: -5px;
  left: -5px;
  width: 20px !important;
  height: 20px !important;
  background: transparent !important;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

/* desktop */
@media (min-width: 1024px) {
  .banner {
    width: 576px;
  }

  .elementor-position {
    max-width: 1330px;
  }

  .body-position {
    max-width: 1240px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .slick-dots-bottom {
    max-width: 1193px;
    bottom: 33px !important;
    justify-content: start !important;
    margin: auto !important;
    column-gap: 5px;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  body {
    font-family: "Montserrat", sans-serif;
  }

  .game-card {
    .slick-dots-bottom {
      bottom: -33px !important;
    }
    .slick-dots li.slick-active {
      opacity: 100% !important;
      background: #9b9b9b !important;
    }

    .slick-dots li.slick-active button {
      top: -5px;
      left: -5px;
      width: 20px !important;
      height: 20px !important;
      background: transparent !important;
      border-radius: 50%;
      border: 1px solid #9b9b9b;
    }

    .slick-dots li {
      background: #9b9b9b !important;
    }
  }

  .slick-dots-bottom {
    bottom: 111px !important;
  }

  .adm-tab-bar-item {
    padding: 20px 0px !important;
  }

  .adm-tab-bar-item-icon {
    font-size: 6px;
    height: 20px;
    opacity: 80%;
    span,
    img {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .adm-tab-bar-item-icon img {
    width: 16px;
    height: 16px;
  }

  .adm-tab-bar-item-active {
    color: black;
    border-bottom: 1px solid black;
  }
}
